

<ion-content padding>
    <div class="mylogin">
      <h2>LOGIN</h2>
        <p>Please login to the app</p>
        <ion-item>
          <ion-input [(ngModel)]="username" placeholder="Username" ></ion-input>>
        </ion-item>
          
          <ion-item>
           <ion-input [(ngModel)]="pass" placeholder="Password" ></ion-input>>
          </ion-item>
          
      <button ion-button (click)="logIn()" >LOGIN</button>
    </div>
  
    
</ion-content>
