
<ion-content padding class="wewe">
        <div class="myregister">
          <h2>WELCOME!</h2>
            <p>Please first register here and then login to the app</p>
             <ion-item>
              <ion-input [(ngModel)]="fullName" placeholder="Full Name" ></ion-input>>
             </ion-item>
              <ion-item>
                <ion-input [(ngModel)]="username" placeholder="Username" ></ion-input>>
              </ion-item>
              <ion-item>
                  <ion-input [(ngModel)]="email" placeholder="Email" ></ion-input>>
                </ion-item>
                <ion-item>
                    <ion-input [(ngModel)]="pass" placeholder="Password" ></ion-input>>
                </ion-item>
          
            <button ion-button (click)="savData()" >REGISTER</button>

        </div>
</ion-content>
