<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="myhome">
      <h3>WELCOME TO MY APP</h3>
      <ion-card>   
          <ion-card-content>
              <p>This is the third assignment that required us to create a Register page and store data to the
              local storage and then use data to login the user in the app</p>
          </ion-card-content>
      </ion-card>
  </div>
</ion-content>
